/* =====================================================
   MEDAL
===================================================== */

.podium-rank::before {
    position: absolute;

    top: -17px;
    right: -13px;

    width: 30px;
    height: 30px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    font-family:
        "Segoe UI Emoji",
        "Apple Color Emoji",
        sans-serif;

    font-size: 18px;

    background: #151515;

    border:
        1px solid
        rgba(255,255,255,.1);

    box-shadow:
        0 5px 15px
        rgba(0,0,0,.4);

    z-index: 5;
}


/* =====================================================
   JUARA 1
===================================================== */

.podium-card.rank-1 .podium-rank {
    background:
        linear-gradient(
            145deg,
            #ff6a2c,
            #b8380f
        );

    border:
        2px solid
        rgba(255,255,255,.25);

    box-shadow:
        0 0 35px
        rgba(255,90,31,.3);
}

.podium-card.rank-1 .podium-rank::before {
    content: "🥇";

    background:
        rgba(255,216,77,.12);

    border-color:
        rgba(255,216,77,.3);
}


/* =====================================================
   JUARA 2
===================================================== */

.podium-card.rank-2 .podium-rank {
    background:
        linear-gradient(
            145deg,
            #555555,
            #242424
        );

    border-color:
        rgba(220,220,220,.3);
}

.podium-card.rank-2 .podium-rank::before {
    content: "🥈";
}


/* =====================================================
   JUARA 3
===================================================== */

.podium-card.rank-3 .podium-rank {
    background:
        linear-gradient(
            145deg,
            #70452f,
            #2a211d
        );

    border-color:
        rgba(205,139,90,.35);
}

.podium-card.rank-3 .podium-rank::before {
    content: "🥉";
}
